<p>Drag this link to the bookmark's bar:
<a alt='PinTest.Me' href='javascript:
	(function() {
		var w = window;
		var pqtdoitall = function() {
		function insertScript(wd,doc,elem) {
			var already = doc.getElementById("pqxt");
			if(already || (already != null && already != undefined)) {
				wd.runpqxt();
				return;
			}
			wd.pqxtMainWindow = w;
			var r,s = doc.createElement("script");
			s.setAttribute("id","pqxt");
			s.setAttribute("charset","UTF-8");
			s.setAttribute("type","text/javascript");
			s.src = "http://localhost:8080/load.js?r="+(Math.random()*333378);
			ssrc = "https://pintestme.appspot.com/tst.js?r="+(Math.random()*333378);
			s.onload = s.onreadystatechange = function () {
			    if (!r && (!this.readyState || this.readyState === "complete")) {
			      r = true;
			      wd.runpqxtonload();
			    }
			  };
			elem.appendChild(s);
		};
		function fr2window(fr) {
			return fr.window || fr.contentWindow;
		};
		function pqinsert2windowDoc(wd) {
			var doc,body;
			try {
				doc = wd.document || wd.documentElement;	
				if(!doc) {
					return;
				}
				if(doc.readyState != "complete") {
					wd.addEventListener("DOMContentLoaded",pqinsert2window,false);
					return;
				}
				body = doc.body || doc.getElementsByTagName("body")[0];
			}
			catch(err) { return; }
			if(!body) {
				return;
			};
			insertScript(wd,doc,body);	
		};
		function pqinsert2window(wd) {
			w.globalwdpqid += 1;
			var wdstack = [];
			try {
				if(wd.wdpqid && wd.wdpqid == w.globalwdpqid)
					return;
				else {
					wd.wdpqid = w.globalwdpqid;
					wdstack.push(wd);
				}
			} catch(err) { return; }
			while(wdstack.length > 0) {
				var cwd = wdstack.pop();
				try {
					pqinsert2windowDoc(cwd);
					var cwdfl = cwd.frames.length;
					for(var fi = 0; fi < cwdfl; fi += 1) {
							var frm;
							try {
								frm = cwd.frames[fi];
							} 
							catch(err) { 
								continue; 
							}
							if(!frm)
								continue;
							var frmwd;
							try {
								frmwd = fr2window(frm);
							} 
							catch(err) { 
								continue; 
							}
							if(!frmwd)
								continue;
							try {
								if(frmwd.wdpqid && frmwd.wdpqid == wd.globalwdpqid) {
									continue;
								}
							} catch(err) { continue; }
							wdstack.push(frmwd);
					}	
				} catch(err) { continue; }
			}
		};
		try {
			if(!w) {
				1;
			}
			if(!w.globalwdpqid) {
				w.globalwdpqid = 0;
			}
			else {
				1;
			}
			pqinsert2window(w);
		} catch(err) { return; }
		};
		w.addEventListener("load",pqtdoitall);
		pqtdoitall();
	})();
'>PinTest.Me</a>
</p>
